#header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;

}
#header h2{
    font-size: 2.5rem;
}
#header ul{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
}
#header ul li{
    background-color: azure;
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
}
#header ul li :hover{
   background-color: rgb(113, 109, 109);
   color: white; 
   transition: 0.3;
}

@media screen and (max-width: 800px) {
    #header{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
    }
    #header ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 1rem;
    }
}
